.basket {
   z-index: 9;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 500px;
   max-width: 95%;
   border: none;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.basket-title {
   text-transform: uppercase;
   font-weight: bold;
}

.basket-close,
.basket-delete {
   cursor: pointer;
}
