.basket {
   z-index: 9;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 500px;
   max-width: 95%;
   border: none;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   animation: show 500ms ease-in-out;
}

.basket-title {
   text-transform: uppercase;
   font-weight: bold;
}

.basket-item{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}


.basket-col {
   width: 100px;
   display: flex;
   align-items: flex-start;
}

.basket-col:first-child {
   margin-right: auto;
   width: fit-content;
   max-width: 50%;
}

.basket-close,
.basket-delete {
   cursor: pointer;
}

.basket-count {
   padding: 0 .5rem;
}

@keyframes show {
   from {
      top: 70%;
      opacity: 0;
   }
   to {
      top: 50%;
      opacity: 1;
   }
}
